/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

// layers
#define COLEMAK 0
#define QWERTY  1
#define LOWER   2
#define UPPER   3
#define MAGIC   4

/ {
    chosen {
        zmk,physical-layout = &five_col_layout;
    };
};

/ {
    macros {
        to_chi: to_chi_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&to QWERTY>;
        };

        to_eng: to_eng_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>, <&to COLEMAK>;
        };
    };

    behaviors {
        caps_toggle: tap_dance_caps_toggle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&caps_word>, <&kp LS(CAPS)>;
        };
        chi_ht: chi_ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&to_chi>;
        };
        eng_ht: eng_ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&to_eng>;
        };
        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        sqt_dqt: sqt_dqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp DQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        fslh_qmark: fslh_qmark {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        up_pgup: up_pgup {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&kp PG_UP>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
        down_pgdn: down_pgdn {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&kp PG_DN>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            display-name = "colemak";
            // ---------------------------------------------------------------------
            // |  Q  |  W  |  F  |  P  |  G  ||  J  |  L   |   U   |   Y   | ' _ " |
            // |  A  |  R  |  S  |  T  |  D  ||  H  |  N   |   E   |   I   |   O   |
            // |  Z  |  X  |  C  |  V  |  B  ||  K  |  M   | , _ ; | . _ : | / _ ? |
            bindings = <
                &kp Q &kp W &kp F &kp P &kp G   &kp J &kp L &kp U       &kp Y      &sqt_dqt
                &kp A &kp R &kp S &kp T &kp D   &kp H &kp N &kp E       &kp I      &kp O
                &kp Z &kp X &kp C &kp V &kp B   &kp K &kp M &comma_semi &dot_colon &fslh_qmark
        &chi_ht LALT 0 &lt LOWER BSPC &mt LSHFT ESC   &mt RCTL RET &lt UPPER SPACE &eng_ht RGUI 0
            >;
        };

        qwerty_layer {
            display-name = "qwerty";
            // ---------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  ||  Y  |  U   |   I   |   O   |   P   |
            // |  A  |  S  |  D  |  F  |  G  ||  H  |  J   |   K   |   L   | ' _ " |
            // |  Z  |  X  |  C  |  V  |  B  ||  N  |  M   | , _ ; | . _ : | / _ ? |
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I  &kp O  &kp P
                &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K  &kp L  &sqt_dqt
                &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &trans &trans &trans
                         &trans &trans &trans   &trans &trans &trans
            >;
        };

        lower_layer {
            display-name = "lower";
            // ------------------------------------------------------------------------
            // |  <  |  [  |  (   |  {   |  `  ||  *  | 7 _ & | 8 _ * | 9 _ ( | \ _ |  |
            // | GUI | ALT | CTRL | SHFT |  =  ||  +  | 4 _ $ | 5 _ % | 6 _ ^ | - _ MG |
            // |  >  |  ]  |  )   |  }   |  ~  ||  0  | 1 _ ! | 2 _ @ | 3 _ # | / _ ?  |
            bindings = <
                &kp LT       &kp LBKT &kp LPAR  &kp LBRC  &kp GRAVE      &kp KP_MULTIPLY &kp N7 &kp N8 &kp N9 &kp BSLH
                &sk LGUI     &sk LALT &sk LCTRL &sk LSHFT &kp KP_EQUAL   &kp KP_PLUS     &kp N4 &kp N5 &kp N6 &lt MAGIC MINUS
                &lt MAGIC GT &kp RBKT &kp RPAR  &kp RBRC  &kp TILDE      &kp N0          &kp N1 &kp N2 &kp N3 &trans
                                                 &trans &trans &trans    &trans &trans &trans
            >;
        };

        upper_layer {
            display-name = "upper";
            // -------------------------------------------------------------
            // |   F1    | F2  |  F3  |  F4  |  F5   || G+V |  G+Z  |  UP  |  TAB  |   BSPC   |
            // |   GUI   | ALT | CTRL | SHFT | G+SPC || G+C | LEFT  | DOWN | RIGHT | RET _ MG |
            // | F6 _ MG | F7  |  F8  |  F9  |  F10  || G+X | G+S+Z | ESC  | CAPS  |   DEL    |
            bindings = <
                &kp F1       &kp F2   &kp F3    &kp F4    &kp F5          &kp LG(V) &kp LG(Z)     &kp UP   &kp TAB      &kp BSPC
                &sk LGUI     &sk LALT &sk LCTRL &sk LSHFT &kp LG(SPACE)   &kp LG(C) &kp LEFT      &kp DOWN &kp RIGHT    &lt MAGIC RET
                &lt MAGIC F6 &kp F7   &kp F8    &kp F9    &kp F10         &kp LG(X) &kp LG(LS(Z)) &kp ESC  &caps_toggle &kp DEL
                                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        magic_layer {
            display-name = "magic";
            bindings = <
                &rgb_ug RGB_TOG &rgb_ug RGB_SPI &rgb_ug RGB_HUI &rgb_ug RGB_SAI &bootloader     &bootloader  &kp C_PP    &kp C_VOL_UP  &kp C_MUTE  &rgb_ug RGB_BRI
                &rgb_ug RGB_EFF &rgb_ug RGB_SPD &rgb_ug RGB_HUD &rgb_ug RGB_SAD &sys_reset      &sys_reset   &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT  &rgb_ug RGB_BRD
                &bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &to COLEMAK  &to QWERTY  &to LOWER     &to UPPER   &studio_unlock
                                                                       &trans  &trans  &trans   &trans &trans &trans
            >;
        };
    };
};
